  <div class="container">
  <div class="py-5 text-center">

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4 mt-5">
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>{{total}}</strong>
        </li>
        <li class="list-group-item">
          <h6 class="my-0">Payment Method</h6>
        </li>
        <li class="list-group-item">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">Online Payment</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">COD</label>
          </div>
        </li>

        <button class="btn btn-primary btn-lg btn-block" type="submit" id="checkout">checkout</button>
      </ul>
    </div>
    <div class="col-md-8 order-md-1 mt-1">
      <h4 class="mb-3">Billing address</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" placeholder="Firstname" name="firstname" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" placeholder="Lastname" name="lastname" required>
          </div>
        </div>

        <div class="mb-3">
          <input type="email" class="form-control" placeholder="you@example.com" name="email">
        </div>

        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Address" name="address" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

         <div class="mb-3">
          <input type="text" class="form-control" placeholder="Pincode" name="pincode">
        </div>

         <button class="btn btn-primary btn-lg btn-block" type="submit" id="checkout">checkout</button>
      </form>
    </div>
  </div>

</div>

<script>
  $('#checkout').submit((e) => {
    
    e.preventDefault();

    $.ajax(
      {
        url:'/place-order',
        method:'post',
        data:$('#checkout').serialize(),
        success:(response) => {
          alert(response)
        }
      }
    )

  })
</script>