  <section>
        <div class="container mt-5">
            <div class="row">
                {{#each Products}}
                <div class="col-md-3" style="padding:1px">
                    <div class="card" style="width: 17rem; height:26rem;">
                        <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Card image cap" height="225px">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{description}}</p>
                            <p class="card-text">{{price}}</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            </div>
    </section>